server {
    listen 8081;
    server_name _;

    root /var/www/html/frontend;
    index index.php;
    try_files $uri @fastcgi;

    location ~ \.(svn|git|htaccess|htpasswd) {
        return 404;
    }

    location @fastcgi {
        fastcgi_pass app:9000;
        include fastcgi_params;
        fastcgi_param SERVER_NAME $host;
        fastcgi_param HOSTNAME docker;
        fastcgi_param SCRIPT_FILENAME $document_root/index.php;
    }
}


